@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #272c3d;
  color: #fff;
}

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}